<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smoothies</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <h1><a href="/">ICE Smoothies</a></h1>

    <ul>
    <% if(user) { %>
    <li>Welcome, <%= user.email %></li>
    <li><a href="/logout" class="btn">Logout</a></li>
      <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup" class="btn">Signup</a></li>
    <% } %>
  </ul>
  </nav>
  